.note-container {
    display: grid;
    padding: 10px 30px;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 10em 10em 10em; */
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.center {
    align-self: center;
    justify-self: center;
}
.note-input {
    padding: 100px !; 
}
.note {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
    word-break: break-all;
}
.note-important {
    background-color: #960505;
    color: white;
}
.note header, .note main, .note footer {
    padding: 10px 10px;
}
.note:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.23);
}
.note header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    
}

.note-btn {
    right: 5px;
}
.note-btn a{
    text-decoration: none;
    margin: 0px 10px;

}
.note main {
    padding: 0px 10px;

}
.note footer {
    position: absolute;
    bottom: 0px;
    right: 1em;
    font-size: 0.8em;
    color: grey;
    text-align: right;
    font-style: italic;
    
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}